In [34]:
import pandas as pd

In [35]:
df_payment_type = pd.read_excel('dimension_sheet.xlsx', sheet_name='Payment_type')

In [36]:
df_payment_type.head()

   รหัส ประเภทการจ่าย
0     1        ธนาคาร
1     2        เงินสด
2     3      ค้างจ่าย
3     4         ระงับ

In [37]:
df_dept = pd.read_excel('dimension_sheet.xlsx', sheet_name='Department')

In [38]:
df_dept.head()

   Department_code         Dept_name
0                0        ฝ่ายจัดการ
1                1  ฝ่ายผลิตและอื่นๆ
2                2             ขนส่ง

In [39]:
df_emp = pd.read_excel('dimension_sheet.xlsx', sheet_name='Employee')

In [40]:
df_emp.head()

,ลำดับ,รหัสพนักงาน,ชื่อพนักงาน,ชื่อพนักงาน ID,สังกัดฝ่าย,Department,ระดับขั้นพนักงาน (Level),ฐานค่าแรง,ช่องทางจ่ายเงินเดือน,วิธีการจ่ายเงินเดือน,ประเภทพนักนักงาน,ช่องทางการจ่ายเงินเดือน2,% หักปกส.
0,1.0,320001.0,นายนิพัฒน์ ภาเภา,Niphat,NaN,1.0,0.0,NaN,1.0,SCB/2692554140,รายเดือน,ธนาคาร,0.05
1,2.0,340002.0,นางสุภาพรรณ์ ภาเภา,Suphaphan,NaN,1.0,0.0,NaN,1.0,SCB/2692554158,รายเดือน,ธนาคาร,0.05
2,3.0,570013.0,Mr.NOUNA,NOUNA,NaN,1.0,10.0,363.0,1.0,SCB/2692554996,รายวัน,ธนาคาร,NaN
3,4.0,580014.0,Mr.AUNG AUNG,AUNG AUNG,NaN,1.0,16.0,363.0,1.0,SCB/2692556354,รายวัน,ธนาคาร,NaN
4,5.0,580016.0,Mr.MAYPHAXAY,MAYPHAXAY,NaN,1.0,4.0,363.0,1.0,SCB/2692554190,รายวัน,ธนาคาร,NaN

In [41]:
df_period = pd.read_excel('dimension_sheet.xlsx', sheet_name='Salary_period')

In [42]:
df_period

,รหัส,งวดเดือน,ประจำงวดวันที่,วันที่จ่ายเงินเดือน,เริ่มงวด,จบงวด,จำนวนวัน,กำหนดวันทำงานเบี้ยขยัน
0,1,มกราคม,26/12/66 - 25/01/67 (1),2567-01-31 00:00:00,2566-12-26 00:00:00,2567-01-25 00:00:00,30,21
1,2,กุมภาพันธ์,26/01 - 25/02/67 (2),2567-02-28 00:00:00,2567-01-26 00:00:00,2567-02-25 00:00:00,30,26
2,3,มีนาคม,26/02 - 25/03/67 (3),2567-03-31 00:00:00,2567-02-26 00:00:00,2567-03-25 00:00:00,28,22
3,4,เมษายน,26/03 - 25/04/67 (4),2567-04-29 00:00:00,2567-03-26 00:00:00,2567-04-25 00:00:00,30,21
4,5,พฤษภาคม,26/04 - 25/05/67 (5),2567-05-31 00:00:00,2567-04-26 00:00:00,2567-05-25 00:00:00,29,22
5,6,มิถุนายน,26/05 - 25/06/67 (6),2567-06-30 00:00:00,2567-05-26 00:00:00,2567-06-25 00:00:00,30,26
6,7,กรกฎาคม,26/06 - 25/07/67 (7),2567-07-31 00:00:00,2567-06-26 00:00:00,2567-07-25 00:00:00,29,25
7,8,สิงหาคม,26/07 - 25/08/67 (8),2567-08-31 00:00:00,2567-07-26 00:00:00,2567-08-25 00:00:00,30,25
8,9,กันยายน,26/08 - 25/09/67 (9),2567-09-30 00:00:00,2567-08-26 00:00:00,2567-09-25 00:00:00,30,25
9,10,ตุลาคม,26/09 - 25/10/67 (10),2567-10-31 00:00:00,2567-09-26 00:00:00,2567-10-25 00:00:00,29,25
10,11,พฤศจิกายน,26/10 - 25/11/67 (11),2567-11-30 00:00:00,2567-10-26 00:00:00,2567-11-25 00:00:00,30,25
11,12,ธันวาคม,26/11 - 25/12/67 (12),2567-12-31 00:00:00,2567-11-26 00:00:00,2567-12-25 00:00:00,29,25