In [1]:
import pandas as pd

In [28]:
df_payment_type = pd.read_excel('dimension_sheet.xlsx', sheet_name='Payment_type')

In [26]:
df_payment_type.head()

   รหัส ประเภทการจ่าย
0     1        ธนาคาร
1     2        เงินสด
2     3      ค้างจ่าย
3     4         ระงับ

In [32]:
df_employee = pd.read_excel('dimension_sheet.xlsx', sheet_name='Employee')

In [33]:
df_employee.head()

,ลำดับ,รหัสพนักงาน,ชื่อพนักงาน,ชื่อพนักงาน ID,สังกัดฝ่าย,ระดับขั้นพนักงาน (Level),ฐานค่าแรง,ช่องทางจ่ายเงินเดือน,วิธีการจ่ายเงินเดือน,ประเภทพนักนักงาน,ช่องทางการจ่ายเงินเดือน2,% หักปกส.
0,1.0,320001.0,นายนิพัฒน์ ภาเภา,Niphat,NaN,0.0,NaN,1.0,SCB/2692554140,รายเดือน,ธนาคาร,0.05
1,2.0,340002.0,นางสุภาพรรณ์ ภาเภา,Suphaphan,NaN,0.0,NaN,1.0,SCB/2692554158,รายเดือน,ธนาคาร,0.05
2,3.0,570013.0,Mr.NOUNA,NOUNA,NaN,10.0,363.0,1.0,SCB/2692554996,รายวัน,ธนาคาร,NaN
3,4.0,580014.0,Mr.AUNG AUNG,AUNG AUNG,NaN,16.0,363.0,1.0,SCB/2692556354,รายวัน,ธนาคาร,NaN
4,5.0,580016.0,Mr.MAYPHAXAY,MAYPHAXAY,NaN,4.0,363.0,1.0,SCB/2692554190,รายวัน,ธนาคาร,NaN